#index-align {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

#posts-align {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#profile-align {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

